* {
  box-sizing: border-box;
}
body{
  width: 475px;
  margin: 0, auto;
}
.Square{
  width: 100px;
  height: 100px;
  background-color: violet;
  margin-right: 25px;
  margin-bottom: 25px;
  float: left;
}

.HRectangle{
  width: 225px;
  height: 100px;
  background-color: violet;
  margin-right: 25px;
  margin-bottom: 25px;
  float: left
}

.Vrectangle{
  width: 100px;
  height: 225px;
  background-color: violet;
  margin-bottom: 25px;
  float: left
}

.threeSquaretop{
  width: 375px;
  height: 250px;
  float: left
}
.LastSquare{
  width: 100px;
  height: 100px;
  background-color: violet;
  float: left;
}
