*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Body{
  width: 375px;
  height: 750px;
  background: black;
  border: 5px solid pink;
  border-radius: 35px;
  margin: 10px auto;
}


.camera {
  width: 15px;
  height: 15px;
  background: #555555;
  border-radius: 50%;
  position: relative;
  left: calc(295px - 7.5px);
  top: 5px;
}

.speaker{
  width: 75px;
  height: 5px;
  background-color: #292828;
  border-radius: 7.5px;
  position: relative;
  left: calc(195px - 37.5px);
  top: -5px;
}

.screen{
  width: 339px;
  height: 695px;
  background-image: url("../images/LockScreen.jpg");
  background-size: contain;
  position: relative;
  border-radius: 15px;
  left: calc(195px - (360px / 2));
}
.screen:hover{
  background-image: url("../images/HomeScreen.jpg");
}

.grill{
  width: 75px;
  height: 5px;
  position: relative;
  left: calc(195px - 37.5px);
  top: -10px;
}

.circle{
  border-radius: 50%;
  float: left;
  width: 2.5px;
  height: 2.5px;
  position: relative;
  background-color: #1c1c1c;
  margin: 0 .5px;
}
.Volume{
  width: 5px;
  height: 115px;
  position: relative;
  background-color: silver;
  border-radius: 15%;
  top: -625px;
  left: -7px;
  z-index: -1;
}

.Bixby{
  width: 5px;
  height: 41.5px;
  position: relative;
  background-color: silver;
  border-radius: 15%;
  top: -575px;
  left: -7px;
  z-index: -1;
}
.lock{
  width: 5px;
  height: 41.5px;
  position: relative;
  background-color: silver;
  border-radius: 15%;
  top: -670px;
  left: 368px;

  z-index: -1;
}
.pen{
  width: 15px;
  height: 10px;
  position: relative;
  border-radius: 35%;
  background-color: silver;
  top: -190px;
  left: 321px;
  z-index: -1;
}
.bevelBL{
  height: 5px;
  width: 5px;
  background-color: #ffe6e8;
  position: relative;
  top: -198px;
  left: 50px;
}
.bevelBR{
  height: 5px;
  width: 5px;
  background-color: #ffe6e8;
  position: relative;
  top: -203px;
  left: 300px;
}
.bevelTL{
  height: 5px;
  width: 5px;
  background-color: #ffe6e8;
  position: relative;
  top: -5px;
  left: 50px;
}
.bevelTR{
  height: 5px;
  width: 5px;
  background-color: #ffe6e8;
  position: relative;
  top: -10px;
  left: 300px;
}
