* {
  box-sizing: border-box;
}
body{
  margin: 0;
}

main.board{
  height: 800px;
  width: 800px;
  margin: 50px auto;

}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
}

.black{
  width: 100px;
  height: 100px;
  background-color: black;
  float: left;
}
