*{
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: gold;
  margin: 0;
  padding: 25px 100px;
}

footer {
  background-color: black;
  margin: 0;
  padding-left: 25px 100px;
}

li {
  font-family: 'Cinzel', serif;
  font Weight: 900;
  font-size: 18px;
  display: inline;
}

p {
  font-family: Myriad Pro, sans-serif;
  font weight: 300;
  font-style: italic;
  font-size: 20px;
}

img {
  max-width: 100%;
}
h1 {
  font-family: 'Cinzel', serif;
  font Weight: 700;
  font-size: 101px;
}

h2 {
  font-family: 'Cinzel', serif;
  font Weight: 700;
  font-size: 32px;
}

h3 {
  font-family: 'Cinzel', serif;
  font Weight: 400;
  font-size: 25px;
}

h4 {
  font-family: adobe-handwriting-frank, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
h5 {
  font-family: Myriad Pro, sans-serif;
  font weight: 300;
  font-style: normal;
}
