*{
  box-sizing: border-box;

}
a{
  text-decoration: none;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  display: flow-root;
}

header {
  background-color: gold;
  margin: 0 0 50px 0;
  padding: 25px 100px;
  text-align: center;

}

footer {
  background-color: black;
  margin: 0;
  padding-left: 25px 100px;
  font-family: Myriad Pro, sans-serif;
  font weight: 300;
  font-style: normal;
  font-size: 14px;
  color: white;
  padding: 50px;
  display: flow-root;
}

li {
  font-family: 'Cinzel', serif;
  font Weight: 900;
  font-size: 18px;
  display: inline;
}




p {
  font-family: Myriad Pro, sans-serif;
  font weight: 300;
  font-style: italic;
  font-size: 20px;
}

img {
  max-width: 100%;

}


h1 {
  font-family: 'Cinzel', serif;
  font Weight: 700;
  font-size: 101px;
}

h2 {
  font-family: 'Cinzel', serif;
  font Weight: 700;
  font-size: 32px;
}

h3 {
  font-family: 'Cinzel', serif;
  font Weight: 400;
  font-size: 25px;
}

h4 {
  font-family: adobe-handwriting-frank, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
h5 {
  font-family: Myriad Pro, sans-serif;
  font weight: 300;
  font-style: normal;
  color: White;
}
.Gallery{
  margin: 0 auto;
  margin-left: 20px;
  width: 65vw;
  height: 65vw;
  float: left;
  background-image: url("images/Happy_Waiter.jpg");
  position: relative;
}

.Alt_Nav{
  width: 30vw;
  height: 65vw;
  margin-left: 20px;
  float: left;
  display: flow-root;
}

.About{
  width: 30vw;
  height: 14vw;
  margin-bottom: 1vw;
  position: relative;
  background-image: url("../images/Interior_Cropped.png");
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  display: flow-root;

}
.Menu{
  width: 30vw;
  height: 14vw;
  margin-bottom: 1vw;
  position: relative;
  background-image: url("../images/Crab_Cake_Home.png");
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  display: flow-root;

}
.Events{
  width: 30vw;
  height: 14vw;
  margin-bottom: 1vw;
  position: relative;
  background-image: url("../images/Netflix_Logo_Red.png");
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  display: flow-root;

}
