*{
  box-sizing: border-box;

}
a{
  text-decoration: none;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  display: flow-root;
}

header {
  background-color: gold;
  margin: 0 0 50px 0;
  padding: 25px 100px;
  text-align: center;

}

footer {
  background-color: black;
  height: 5vw;
  width: 100vw;
  margin: 0;
  font-family: Myriad Pro, sans-serif;
  font weight: 300;
  font-style: normal;
  font-size: 14px;
  color: white;
  padding: 60px;
  display: flow-root;
  position: absolute bottom;
}

li {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 18px;
  display: inline;
  margin-left: 200px;
  margin-right: 200px;
  align-content: center;
  color: #9100FF;
  opacity: 0.75;
}

p {
  font-family: Myriad Pro, sans-serif;
  font weight: 300;
  font-style: italic;
  font-size: 20px;
  float: left;
}

p.social{
  position: relative;
}
p.location{
  float: right;
  position: relative;
}


img {
  max-width: 100%;
}


h1 {
  font-family: 'Cinzel', serif;
  font Weight: 700;
  font-size: 101px;
  color: #8000FF;
  opacity: 0.75;
}

h2 {
  font-family: 'Cinzel', serif;
  font Weight: 700;
  font-size: 32px;
}

h3 {
  font-family: 'Cinzel', serif;
  font Weight: 400;
  font-size: 25px;
}

h4 {
  font-family: adobe-handwriting-frank, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #9100FF;
  opacity: .85;
}
h5 {
  font-family: Myriad Pro, sans-serif;
  font weight: 300;
  font-style: normal;
  color: White;
  font-size: 24px;
  position: relative;
  top: -90px;
}


/* Home Page Specific CSS */
.Gallery{
  margin: 0 auto;
  margin-left: 20px;
  width: 66vw;
  float: left;
  background-image: url("images/Happy_Waiter.jpg");
  position: relative;
}

.Alt_Nav{
  width: 31vw;
  height: 65vw;
  margin-left: 20px;
  float: left;
  display: flow-root;
}

.About{
  width: 30vw;
  height: 14vw;
  margin-bottom: 1vw;
  position: relative;
  background-image: url("../images/Interior_Cropped.png");
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  display: flow-root;

}
.Menu{
  width: 30vw;
  height: 14vw;
  margin-bottom: 1vw;
  position: relative;
  background-image: url("../images/Crab_Cake_Home.png");
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  display: flow-root;

}
.Events{
  width: 30vw;
  height: 14vw;
  margin-bottom: 1vw;
  position: relative;
  background-image: url("../images/Netflix_Logo_Red.png");
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  display: flow-root;

}

/* End Homepage */

/* About Page specific CSS */

.slogan{
  width: 100vw;
  margin: 0 41vw;
}

.image_container{
  width: 45vw;
  margin-left: 20px;
  float: left;
}

.About_Us{
  font-size: 24px;
  color: #9100FF;
}

.text_container{
  margin-left: 30px;
  width: 45vw;
  float: left;
}
.contact_container{
  width: 50vw;
  margin-left: 20px;
}

.Contact{
  font-size: 22px;
  color: #9100FF;
}

@media screen and (max-width: 320px){

  /* Makes Changes to all of the Homepage, as well as the Header and Footer universally */
  h1{
    font-family: 'Cinzel', serif;
    font Weight: 700;
    font-size: 27px;
  }
  .Gallery{
    width: 88vw;
    margin-left: 17px;

  }
  .Alt_Nav{
    width: 90vw;
    height: 140vw;
    margin-left: 17px;
  }
  .About{
    width: 88vw;
    height: 42vw;
  }
  .Events{
    width: 88vw;
    height: 42vw;
  }
  .Menu{
    width: 88vw;
    height: 42vw;
  }
  p{
    font-size: 12px;
  }
  footer{
    padding: 20px 0 50px 0;
  }
  h5{
    font-size: 18px;
    top: -60px;
  }
  p.social{
    top: -10px;
  }
  p.location{
    top: -20px;
    float: left;
  }
/* End Homepage and Header+Footer changes */

/* About Page Changes */


}
