* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: "000000"
  line-height: 1.6;


}

main {
  width: 50vw;
  margin: 50px auto;
}
h1, h2, h3, h4 {
  margin: 15px 0;
}
ul {
  margin: 20px 50px;
}
