body{
  background color: blue;
}

.shape_1 {
    width: 100px;
    height: 100px;
    color: blue;
    float: left;
}

.shape_2 {
  width: 100px;
  height: 100px;
  border: Gold;
  float: left;
}

.shape_3 {
  width: 100px;
  height: 100px;
  float: left;
  color: purple;
}
