* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #AAAAAA;
}

main.pattern2 {
  width: 1700px;
  height: 1000px;
}

.square_1 {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: blue;
    border-color: black;
    float: left;

}

.square_2 {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: Gold;
  float: left;
  border-color: black;
  border: 50px;
}

.square_3 {
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
  background-color: purple;
  border-color: black;
}

.circle_1{
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  float: left;
}

.circle_2{
  height: 90px;
  width: 90px;
  margin: 5px;
  background-color: black;
  border-radius: 50%;
  float: left;
}

.circle_3{
  height: 80px;
  width: 80px;
  margin: 10px;
  background-color: black;
  border-radius: 50%;
  float: left;
}

.circle_4{
  height: 70px;
  width: 70px;
  margin: 15px;
  background-color: black;
  border-radius: 50%;
  float: left;
}

.circle_5{
  height: 60px;
  width: 60px;
  margin: 20px;
  background-color: black;
  border-radius: 50%;
  float: left;
}

.circle_6{
  height: 50px;
  width: 50px;
  margin: 25px;
  background-color: black;
  border-radius: 50%;
  float: left;
}

.circle_7{
  height: 40px;
  width: 40px;
  margin: 30px;
  background-color: black;
  border-radius: 50%;
  float: left;
}

.circle_8{
  height: 30px;
  width: 30px;
  margin: 35px;
  background-color: black;
  border-radius: 50%;
  float: left;
}

.circle_9{
  height: 20px;
  width: 20px;
  margin: 40px;
  background-color: black;
  border-radius: 50%;
  float: left;
}



main.pattern3{
  width: 2400px;
  height: 2400px;
}

.up_arrow {
  width: 0;
  height: 0;
  border-left: 50px solid #ffcc66;
  border-right: 50px solid #ffcc66;
  border-bottom: 100px solid black;
  float: left;
 }

.down_arrow{
  width: 0;
  height: 0;
  border-left: 50px solid #ffcc66;
  border-right: 50px solid #ffcc66;
  border-top: 100px solid #f00;
  float: left;
}

.right_arrow{
  width: 0;
  height: 0;
  border-top: 50px solid #ffcc66;
  border-bottom: 50px solid #ffcc66;
  border-left: 100px solid green;
  float: left;
}

.left_arrow{
  width: 0;
  height: 0;
  border-top: 50px solid #ffcc66;
  border-bottom: 50px solid #ffcc66;
  border-right: 100px solid blue;
  float: left;
}
